---
import '../styles/global.css';
import Header from '../components/Header';
import Footer from '../components/Footer';
import { GL } from '../components/gl';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Aplicación web segura OWASP" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col text-foreground bg-background">
    <GL client:only="react" />
    <Header client:load />
    <main class="flex-grow container mx-auto px-4 pt-24 relative z-10">
      <slot />
    </main>
    <Footer client:load />
  </body>
</html>